header{
    display: flex;
    background:#0fbb5b;
    padding: 2px 10px;
    height: 80px;
    border: 2px gray;
    font-family: Helvetica;
}
h1{
    margin-left: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
